<form [formGroup]="form">    
    <div class="rows">
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>   
        <mat-form-field>
            <input matInput placeholder="Получатель" formControlName="nickname">
        </mat-form-field>
    </div>
    <button mat-button color="primary" (click)="addAddr()" [disabled]="!form.valid">
        {{newUser? 'Добавить': 'Сохранить'}}
    </button>
    <button mat-button color="primary" (click)="goBack()">Назад</button>
</form>